* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata.woff') format('woff'), url('fonts/Inconsolata.ttf') format('truetype'), url('fonts/Inconsolata.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #2f3238 !important;
}

.wrapper {
	min-width: 420px;
	font-family: 'Inconsolata', monospace;
}

.header {
	color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
}

.project {
	width: 100%;
	height: 400px;
}

.project:hover {
	cursor: pointer;
}

.project img {
	width: 100%;
	height: 90%;
}

.footer {
	color: #fff;
}

.header span {
	font-size: 61px;
}
@media screen and (max-width: 767px) {
	.footer {
		width: 80%;
		margin: 0 auto;
	}
}
