		* {
			margin: 0;
			padding: 0;
		}
		/* Remove outline on the forms and links */
		
		:active,
		:hover,
		:focus {
			outline: 0;
			outline-offset: 0;
		}
		
		.wrapper {
			margin: 0 auto;
			max-width: 1280px;
			min-width: 340px;
			position: relative;
		}
		
		.header {
			/*background: url(images/background.png); */
			height: 800px;
			box-sizing: content-box;
			position: relative;
		}
		
		.timelapse {
			object-fit: cover;
			position: relative;
			z-index: -20;
			width: 100%;
			max-width: 100%;
			height: 100%;
		}
		
		.logo {
			/*padding-top: 68px;
	text-align: center; */
			top: 68px;
			text-align: center;
			position: absolute;
			z-index: 300;
			width: 273px;
			left: 50%;
			margin-left: -136px;
		}
		
		.slogan {
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 49.35px;
			font-weight: 400;
			line-height: 62px;
			text-align: center;
			/*	margin-top: 78px; */
			text-transform: uppercase;
			top: 360px;
			left: 23%;
			position: absolute;
			background: rgba(0, 0, 0, 0.5);
			z-index: 300;
			width: 50%;
			left: 50%;
			margin-left: -25%;
		}
		
		.slogan span {
			font-weight: 700;
		}
		
		.mini_form {
			position: absolute;
			border-radius: 2px;
			background-color: #ffffff;
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.28);
			top: 579px;
			width: 334px;
			height: 334px;
			text-align: center;
			z-index: 300;
			left: 50%;
			margin-left: -167px;
		}
		
		.zip {
			border-radius: 2px;
			border: solid 1px #e5e5e5;
			background-color: #ffffff;
			width: 78%;
			height: 36px;
			margin-top: 31px;
			padding-left: 15px;
			box-sizing: content-box;
			font-family: 'Open Sans', sans-serif;
			color: #b4adad;
			font-size: 15.35px;
			font-weight: 400;
			line-height: 23px;
		}
		
		.pictures {
			margin-top: 24px;
		}
		
		.pictures img:hover {
			cursor: pointer;
			opacity: 0.5;
		}
		
		.row1 img {
			float: left;
			height: 43px;
		}
		
		.picture5 {
			width: 72px;
		}
		
		.picture10 {
			width: 70.5px;
		}
		
		.photoshop {
			font-family: 'Open Sans', sans-serif;
			color: #938e8e;
			font-size: 15.35px;
			font-weight: 400;
			margin-top: 27px;
		}
		
		.press_me {
			border-radius: 2px;
			background-color: #227dd3;
			width: 57%;
			height: 45px;
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 25.61px;
			font-weight: 600;
			line-height: 45px;
			text-transform: uppercase;
			border-style: none;
			margin-top: 25px;
		}
		
		.press_me:hover {
			background-color: #1b4771;
		}
		
		.press_me:active {
			background-color: #1b4771;
			position: relative;
			top: 2px;
		}
		
		.press_me p {
			text-align: center;
		}
		
		.press_me:hover {
			cursor: pointer;
		}
		
		.documents_photos {
			padding-top: 170px;
			padding-left: 15.5%;
			padding-bottom: 112px;
		}
		
		.clearfix {
			clear: both;
		}
		
		.documents {
			background: url(images/Pages.png) no-repeat;
			width: 37%;
			float: left;
		}
		
		.photos {
			background: url(images/Camera.png) no-repeat;
			float: left;
			width: 37%;
			margin-left: 7.5%;
		}
		
		.documents p,
		.photos p {
			font-family: 'Open Sans', sans-serif;
			color: #4f4e4e;
			font-size: 14px;
			font-weight: 400;
			line-height: 23px;
			text-align: left;
			padding-left: 136px;
		}
		
		.documents h3,
		.photos h3 {
			margin: 0;
			font-family: 'Open Sans', sans-serif;
			color: #000000;
			font-size: 27.35px;
			font-weight: 600;
			line-height: 62px;
			text-align: left;
			padding-left: 136px;
			margin-top: -9px;
		}
		
		.green_heading1 {
			clear: both;
			height: 877px;
			background: url(images/Shadow3.png) no-repeat 30.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			position: relative;
			z-index: 10;
		}
		
		.green_heading1 h2 {
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 39.35px;
			font-weight: 600;
			line-height: 62px;
			text-align: center;
			padding-top: 274px;
			padding-bottom: 36px;
		}
		
		.some_text {
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			line-height: 23px;
			text-align: left;
		}
		
		.some_text p {
			width: 51%;
			margin-left: 24%;
		}
		
		.down {
			padding-top: 61px;
		}
		
		.green_heading2 {
			height: 574px;
			background: url(images/shadow4.png) no-repeat 0.5% 43px, #00a46d;
			position: relative;
			z-index: 100;
		}
		
		.inside {
			position: absolute;
			background: transparent;
			width: 0;
			height: 0;
			border-bottom: 312px solid #00a46d;
			border-left: 1277px solid transparent;
			z-index: 100;
			right: 0;
			top: -312px;
		}
		
		.other_text {
			padding-top: 25px;
		}
		
		.other_text h2 {
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 39.35px;
			font-weight: 600;
			line-height: 62px;
			margin-left: 44%;
		}
		
		.other_text p {
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			line-height: 23px;
			text-align: justify;
			padding-left: 44%;
			width: 498px;
		}
		
		.download {
			border-radius: 5px;
			border-style: solid;
			border-width: 3px;
			border-color: #ffffff;
			background-color: rgba(185, 222, 216, 0);
			width: 202px;
			height: 62px;
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 27.35px;
			font-weight: 600;
			text-align: center;
			margin-top: 42px;
			float: right;
		}
		
		.download:hover {
			cursor: pointer;
		}
		
		.download:active {
			position: relative;
			top: 2px;
		}
		
		.map {
			background: url(images/map.png);
			height: 635px;
		}
		
		.contact_us {
			padding-top: 161px;
		}
		
		.send {
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.85);
			width: 430px;
			height: 430px;
			margin: 0 auto;
		}
		
		.name,
		.mail,
		.message {
			border-style: solid;
			border-width: 1px;
			border-color: #d8d8d8;
			background-color: #ffffff;
			width: 275px;
			height: 31px;
			font-family: 'Open Sans', sans-serif;
			color: rgba(76, 80, 93, 0.5);
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			padding-left: 16px;
			margin-left: 72px;
		}
		
		.message {
			height: 80px;
		}
		
		.name {
			margin-top: 112px;
			margin-bottom: 15px;
		}
		
		.mail {
			margin-bottom: 15px;
		}
		
		.check {
			background: url(images/check.png) no-repeat;
			margin-top: 33px;
			margin-left: 187px;
			width: 70px;
			height: 70px;
			border-style: none;
			border-radius: 50%;
			cursor: pointer;
		}
		
		.check:active {
			top: 2px;
			position: relative;
		}
		
		.check:hover {
			cursor: pointer;
		}
		
		.footer {
			background-color: #43a06d;
			height: 49px;
		}
		
		.copyright {
			font-family: 'Open Sans', sans-serif;
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			line-height: 49px;
			text-align: center;
		}
		
		@media screen and (max-width: 1280px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 28.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 1220px) {
			.down {
				padding-top: 18px;
			}
			.other_text h2 {
				margin-left: 48%;
			}
			.other_text p {
				padding-left: 48%;
			}
			.photos {
				background: url(images/Camera.png) no-repeat 0 13px;
			}
			.documents {
				background: url(images/Pages.png) no-repeat 0 13px;
			}
		}
		
		@media screen and (max-width: 1180px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 26.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 1110px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 24.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
			.other_text h2 {
				margin-left: 51%;
			}
			.other_text p {
				padding-left: 51%;
			}
		}
		
		@media screen and (max-width: 1060px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 21.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
			.some_text p {
				width: 60%;
				margin-left: 20%;
			}
			.other_text p {
				width: 40%;
			}
			.green_heading2 {
				background: url(images/shadow4.png) no-repeat -60px 43px, #00a46d;
			}
		}
		
		@media screen and (max-width: 1030px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 19.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
			.documents p,
			.photos p {
				padding-left: 120px;
				font-size: 13px;
				line-height: 21px;
			}
			.documents h3,
			.photos h3 {
				padding-left: 120px;
				font-size: 23.35px;
			}
		}
		
		@media screen and (max-width: 1000px) {
			.slogan {
				font-size: 35px;
				line-height: 42px;
			}
		}
		
		@media screen and (max-width: 990px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 16.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 950px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 13.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
			.some_text p {
				width: 85%;
				margin-left: 8%;
			}
			.documents p,
			.photos p {
				padding-left: 110px;
			}
			.documents h3,
			.photos h3 {
				padding-left: 110px;
			}
		}
		
		@media screen and (max-width: 930px) {
			.green_heading2 {
				background: url(images/shadow4.png) no-repeat -80px 43px, #00a46d;
			}
			.other_text h2 {
				margin-left: 54%;
			}
			.other_text p {
				padding-left: 54%;
			}
		}
		
		@media screen and (max-width: 910px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 10.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 870px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 7.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 830px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat 1.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
			.green_heading2 {
				background: url(images/shadow4.png) no-repeat -100px 43px, #00a46d;
			}
		}
		
		@media screen and (max-width: 810px) {
			.green_heading2 {
				background: url(images/shadow4.png) no-repeat -120px 43px, #00a46d;
			}
		}
		
		@media screen and (max-width: 790px) {
			.green_heading1 {
				background: url(images/Shadow3.png) no-repeat -4.5% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 768px) {
			.green_heading1 {
				background: url(images/1.png) no-repeat 52% 86px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
			.some_text p {
				font-size: 12px;
			}
			.green_heading1 h2 {
				padding-bottom: 10px;
			}
			.green_heading2 {
				background: url(images/2.png) no-repeat 54% 0px, #00a46d;
			}
			.other_text h2 {
				margin-left: 0;
				margin-top: 220px;
				text-align: center;
			}
			.other_text p {
				padding-left: 22%;
				width: 60%;
				font-size: 12px;
			}
			.green_heading2 {
				height: 747px;
			}
			.documents p,
			.photos p {
				margin-left: -110px;
			}
			.documents h3,
			.photos h3 {
				margin-top: 125px;
				margin-left: -109px;
				font-size: 20px;
			}
		}
		
		@media screen and (max-width: 590px) {
			.green_heading1 h2 {
				padding-top: 230px;
				font-size: 30px;
			}
			.other_text h2 {
				font-size: 30px;
			}
			.green_heading1 {
				background: url(images/1.png) no-repeat 52% 60px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 525px) {
			.slogan {
				font-size: 30px;
				line-height: 37px;
			}
		}
		
		@media screen and (max-width: 480px) {
			.send {
				width: 380px;
				height: 380px;
			}
			.name {
				margin-top: 98px;
			}
			.name,
			.mail,
			.message {
				width: 208px;
			}
			.check {
				margin-top: 17px;
				margin-left: 154px;
			}
			.green_heading1 h2 {
				padding-top: 215px;
				padding-bottom: 0px;
				padding-top: 200px;
			}
			.green_heading1 {
				background: url(images/1.png) no-repeat 52% 40px, url(images/Shape.png) no-repeat 0 547px, #00c188;
			}
		}
		
		@media screen and (max-width: 410px) {
			.name,
			.mail,
			.message {
				width: 180px;
			}
			.name {
				margin-top: 64px;
			}
			.check {
				margin-left: 139px;
			}
			.send {
				width: 340px;
				height: 340px;
			}
		}
		
		@media screen and (max-width: 400px) {
			.slogan {
				font-size: 25px;
				line-height: 37px;
			}
			.green_heading1 {
				height: 951px;
			}
			.green_heading2 {
				height: 816px;
			}
		}
		
		@media screen and (-ms-high-contrast: active),
		(-ms-high-contrast: none) {
			/* IE10+ specific styles go here */
			.header {
				background: url(images/background.png);
				height: 800px;
				box-sizing: content-box;
				background-size: cover;
				position: relative;
			}
		}
